@import "simple-keyboard/build/css/index.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}

:root {
  --grey: #525252;
  --form-background: rgba(1, 179, 166, 0.7);
}
