html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("public/subtle-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 40%;
}

:root {
  --title-color: #525252;
}
